[parameters]

suffix='kin_ky0p18_Rm1p5e5'
SOLVER='rpcf-mhd.py'
TEMPLATE='template.sh'
MPIPROC=128
nodes=1

is2d=True
isHydro=False
isKinematic=True

Ro=3.0
Rm=150000
Re=150
Ny=4
Nz=1024
Nx=256
Ly=34.90658503988659
Lz=2*np.pi
Lx=2.0

stop_sim_time=10000
load_cp="kin_ky0p18_Rm1p5e4"
walltime=48:00:00

doLoadTimestep=False
init_timestep=0.001
max_timestep=0.001
cfl_safety=0.7
timestepper=d3.RK222
B0_coeff=0.0

wall_time_hr=100
ic_scale_u=1.0
ic_scale_A=1.0e-8
solve_EVP=False
logger_cadence=10
scalars_sim_dt=0.05
crumb_sim_dt=0.0
crumb_scale=0.25
# cp_sim_dt=0.0
cp_sim_dt=200
cp_scale=1.0
sp_sim_dt=0.1
sp_scale=1.0


